<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Pricing Test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="js/vue.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="layer/layer.js"></script>
    <style>
        input {
            margin-left: 15px;
        }
    </style>
</head>

<body>
    <div id="app">
        {{ message }}
        <br>
        <br>
        <br>
        <button type="button" @click="send">Send</button> {{info}}
        <br>
        <br>
        <br>
        <div>
            HOME:&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" v-model="post_data.home" /><br> CMDS:
            <div style="margin-left: 50px;" v-for="arr,oidx in post_data.cmds" :key=oidx>
                &nbsp;<button type="button" @click="deg(oidx)">-</button>&nbsp;<button type="button" @click="add(oidx)">+</button>&nbsp; #{{oidx+1}}
                <span v-for="cmd,iidx in arr" :key=iidx>
                    <input type="cmd" v-model="arr[iidx]" />
                    <button type="button" @click="deg_inline(arr,iidx,oidx)">-</button>
                    <button type="button" @click="add_inline(arr,iidx,oidx)">+</button>
                </span>
                <br>
                <hr width="500px" align="left">
            </div>
        </div>
        <br>
    </div>
</body>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "Hello Orange Shell Manager",
            json: "",
            res: "",
            info: "",
            post_data: {
                "home": "/Users/hiram",
                "cmds": [
                    ["pwd"],
                    ["touch", "tempFile.txt"],
                    ["ls"],
                    ["echo", "hello", ">", "tempFile.txt"],
                    ["cat", "tempFile.txt"],
                    ["rm", "tempFile.txt"],
                    ["ls"]
                ]
            }
        },
        methods: {
            add: function(oidx) {
                vm.post_data.cmds.splice(oidx, 0, [''])
            },
            deg: function(oidx) {
                vm.post_data.cmds.splice(oidx, 1)
            },
            deg_inline: function(father, iidx, oidx) {
                father.splice(iidx, 1)
            },
            add_inline: function(father, iidx, oidx) {
                father.splice(iidx, 0, [''])
            },
            send: function() {
                if (vm.inter) {
                    clearInterval(vm.inter)
                }
                var tip = function() {
                    if (vm.info == '') {
                        vm.info = "Pricing···"
                    } else {
                        vm.info = ''
                    }
                }
                vm.inter = setInterval(tip(), 150)
                console.log(JSON.stringify(vm.post_data))
                $.ajax({
                    type: 'POST',
                    // url: '/api/price',
                    url: 'http://localhost:8080/execute',
                    data: {
                        command: JSON.stringify(vm.post_data)
                    },
                    success: function(res) {
                        console.log(res)
                        vm.res = res.obj
                        clearInterval(vm.inter)
                        vm.info = "Pricing Done!"
                    },
                    dataType: "json"
                });
            }
        }
    });
</script>