<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<title>Pricing Test</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<script src="js/vue.js"></script>
<script src="js/settings.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="layer/layer.js"></script>
<style>
input {
	margin-left: 15px;
}

div {
	width: 800px;
}
</style>
</head>

<body>
	<div id="app">
		{{ message }} <br> <br> {{ info }} <br>
		<button type="button" @click="send">Send</button>
		<br> <br> <br>
		<div>
			HOST:&nbsp;&nbsp;&nbsp;&nbsp;
			<table>
			<tr v-for="node,idx in nodes" :key=idx+node.ip>
				<td><label><input @change="changeIp()" type="checkbox"
					name="nodes" :value=node.ip>{{node.ip}}</label>
				</td>
				<td>{{node.status}}</td>
			</tr>
			</table>
			<br> CMDS:
			<div style="margin-left: 50px;" v-for="cmd,index in post_data.cmds"
				:key=index>
				&nbsp;
				<button type="button" @click="deg(index)">-</button>
				&nbsp;
				<button type="button" @click="add(index)">+</button>
				&nbsp; #{{index+1}} <br>
				<textarea type="input" v-model="post_data.cmds[index]"
					style="width: 80%; min-height: 100px;"></textarea>
				<br>
				<hr width="500px" align="left">
			</div>
			OUTPUT: <br>
			<div v-for="v,k in output" :key=k>
				{{k}}<br>
				<textarea type="text" v-for="res,i in v" :key=i readonly
					v-model="v[i]"
					style="margin-left: 50px; width: 80%; min-height: 100px;"></textarea>
			</div>
		</div>
		<br>
	</div>
</body>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "Hello Orange Shell Manager123",
            info: '',
            output: '',
            host: '',
            post_data: {
                "code": 1001,
                "cmds": ["hostname"]
            },
            nodes: [],
            select_nodes:[]
        },
        mounted() {
            $.ajax({
                type: 'GET',
                url: '/api/getHost',
                success: function(res) {
                    vm.nodes = res.data
                },
                dataType: "json"
            });
        },
        methods: {
            add: function(index) {
                vm.post_data.cmds.splice(index, 0, [''])
            },
            deg: function(index) {
                vm.post_data.cmds.splice(index, 1)
            },
            send: function() {
                vm.info = "Running···"
                console.log(JSON.stringify(vm.post_data))
                $.ajax({
                    type: 'POST', 
                    url: '/api/execute',
                    data: {
                        host: vm.host,
                        command: JSON.stringify(vm.post_data)
                    },
                    success: function(res) {
                        console.log(res)
                        vm.output = res.data
                        vm.info = "Cmd Done!"
                    },
                    dataType: "json"
                });
            },
            changeIp: function () {
                var nodes = $('input:checkbox:checked')
                vm.select_nodes = []
                $.each($('input:checkbox:checked'),function(){
                    vm.select_nodes.push($(this).val())
                }); 
                vm.host = vm.select_nodes.join(",")
            }
        }
    });
</script>