<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Execute</title>
    <style type="text/css">
        @import url("lib/element-ui/theme-chalk/index.css");
        body {
            margin: 0;
            color: rgb(44, 44, 44);
        }
        
        .el-table th>.cell {
            padding: 0 14px;
        }
        
        .el-table td,
        .el-table th {
            padding: 3px 0;
        }
        
        .host_status {
            margin: auto;
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
        
        .host_status_1 {
            background-color: lawngreen;
        }
        
        .host_status_0 {
            background-color: firebrick;
        }
        
        #title {
            padding: 0 10px;
            height: 64px;
            line-height: 64px;
            border-bottom: 1px solid gainsboro;
        }
        
        .el_col {
            padding: 0 10px;
            height: 100%;
        }
        
        .el_col_left {
            border-right: 1px gainsboro dashed;
            height: calc(100vh - 65px);
            overflow: scroll;
        }
        
        .el_col_right {
            height: calc(100vh - 65px);
            overflow: scroll;
            padding-bottom: 10px;
        }
        
        .el-card__body {
            padding: 0 20px;
        }
        
        pre {
            margin: 0;
        }
        
        .output_title {
            font-size: 13px;
            color: forestgreen;
        }

        .output_title_inner {
            font-size: 11px;
            color: forestgreen;
        }
        
        .host_group_title {
            margin-top: 15px;
            border-top: 1px gainsboro dashed;
            padding-top: 10px;
        }
        
        .btn_fixed {
            position: absolute;
            z-index: 99;
            font-size: 20px;
            top: -2px;
        }
        
        .btn_fixed_run:hover,
        .btn_fixed_run:focus {
            color: forestgreen;
        }
        
        .btn_fixed_refresh:hover,
        .btn_fixed_refresh:focus {
            color: #66b1ff;
        }
        
        .btn_fixed_run {
            right: 40px;
            color: forestgreen;
        }
        
        .btn_fixed_refresh {
            right: 10px;
            color: #66b1ff;
        }

        [v-cloak] {
            display: none;
        }

        .el-table--enable-row-transition .el-table__body td {
            padding: 0;
        }

        .smallTable .el-table td, .el-table th {
            padding: 0;
        }

        .el-card__body {
            padding: 0;
        }
    </style>
</head>

<body>
    <script src="lib/vue/vue.js"></script>
    <script src="lib/element-ui/index.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/ace.js"></script>
    <script src="js/ext-language_tools.js"></script>
    <div id="app" v-cloak>
        <el-container>
            <el-main style="padding: 0; height: 100%;">
                <div id="title">
                    <span>Execute</span>
                        <el-button style="font-size: 18px; position: fixed; top: 0; right: 64px; padding: 22px 0;" type="text" @click="changeTheme('black')">
                            <div :style="{border: theme=='white' ? '2px solid rgb(235, 238, 244)' : '2px solid rgb(31, 31, 31)'}" style="height: 16px; width: 32px; background-color: rgb(31, 31, 31);"></div>
                        </el-button>
                        <el-button style="font-size: 18px; position: fixed; top: 0; right: 32px; padding: 22px 0;" type="text" @click="changeTheme('white')">
                            <div :style="{border: theme=='black' ? '2px solid rgb(31, 31, 31)' : '2px solid rgb(235, 238, 244)'}" style="height: 16px; width: 32px; background-color: rgb(235, 238, 244);"></div>
                        </el-button>
                </div>
                <el-row style="height: 100%;">
                    <el-col :span="10" class="el_col el_col_left">
                        <el-row style="position: relative; margin-top: 11px;">
                            <el-button :disabled="!allowedRun" class="btn_fixed btn_fixed_run" @click="send" type="text">
                                <!--<i :class="{ 'el-icon-loading': executing, 'el-icon-video-play': !executing }"></i>-->
                                <span v-if="executing"><i class="el-icon-loading"></i></span>
                                <span v-else>▶</span>
                            </el-button>
                            <el-button class="btn_fixed btn_fixed_refresh" @click="resetCmds()" type="text">
                                <i class="el-icon-close"></i>
                            </el-button>
                            <!--<el-input type="textarea" :autosize="{ minRows: 4, maxRows: 8}" v-model="post_data.cmds[0]"></el-input>-->
                            <div style="position: relative; border-radius: 4px;" id="editor"></div>
                        </el-row>
                        <div class="host_group_title">Host(s)</div>
                        <el-table height="350" ref="multipleTable" :data="hostNodes" tooltip-effect="dark" style="width: 100%;" @selection-change="handleHostSelectionChange">
                            <el-table-column type="selection" :selectable="checkSelectable" width="40"></el-table-column>
                            <el-table-column width="40">
                                <template slot-scope="scope">
                                    <div class="host_status host_status_1" v-if="scope.row.status == 1"></div>
                                    <div class="host_status host_status_0" v-if="scope.row.status == 0"></div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="ip" label="IP"></el-table-column>
                            <el-table-column prop="name" label="Name"></el-table-column>
                            <el-table-column prop="hostname" label="Hostname"></el-table-column>
                        </el-table>
                        <div class="host_group_title">Group(s)</div>
                        <el-table height="250" ref="multipleTable" :data="groupNodes" tooltip-effect="dark" style="width: 100%;" @selection-change="handleGroupSelectionChange">
                            <el-table-column type="selection" :selectable="checkSelectable" width="40">
                            </el-table-column>
                            <el-table-column width="40">
                                <template slot-scope="scope">
                                    <div class="host_status host_status_1" v-if="scope.row.status == 1"></div>
                                    <div class="host_status host_status_0" v-if="scope.row.status == 0"></div>
                                </template>
                            </el-table-column>
                            <el-table-column prop="name" label="Name"></el-table-column>
                            <el-table-column type="expand" style="padding: 0;">
                                <template slot-scope="hosts">
                                    <el-table class="smallTable" ref="multipleTable" :data="hosts.row.hosts" tooltip-effect="dark" style="width: 100%;">
                                        <el-table-column width="40"></el-table-column>
                                        <el-table-column width="40"></el-table-column>
                                        <el-table-column width="40">
                                            <template slot-scope="scope">
                                                <div class="host_status host_status_1" v-if="scope.row.status == 1"></div>
                                                <div class="host_status host_status_0" v-if="scope.row.status == 0"></div>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="ip" label="IP"></el-table-column>
                                        <el-table-column prop="name" label="Name"></el-table-column>
                                        <el-table-column prop="hostname" label="Hostname"></el-table-column>
                                    </el-table>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                    <el-col :span="14" class="el_col el_col_right">
                        <el-card :style="{'background-color': theme=='white'? 'white' : 'rgb(39, 39, 34)'}" shadow="hover" style="margin-top: 10px; max-height: 250px; overflow: scroll;" v-for="host,index1 in hostsOutput" :key=index1 class="box-card">
                            <div :style="{'background-color': theme=='white'? 'white' : 'rgb(39, 39, 34)'}" style="position: sticky; top: 0; border-bottom: 1px dashed rgb(235, 238, 244); padding: 0 20px; border-top-left-radius: 4px; border-top-right-radius: 4px;">
                                <span class="output_title"><b>Host: {{ host.ip }} &nbsp; Finished in {{ host.ms }} ms</b></span>
                            </div>
                            <pre :style="{color: theme=='white'? 'black' : 'rgb(232, 232, 226)'}" style="padding: 2px 20px;">{{ host.result.trim() }}</pre>
                        </el-card>
                        <el-card :style="{'background-color': theme=='white'? 'white' : 'rgb(39, 39, 34)'}" shadow="hover" style="background-color: rgb(39, 39, 34); margin-top: 10px;" v-for="group,index2 in groupsOutput" :key=index2+100 class="box-card">
                            <div :style="{'background-color': theme=='white'? 'white' : 'rgb(39, 39, 34)'}" style="position: sticky; top: 0; padding: 0 20px;">
                                <span class="output_title"><b>Group: {{ group.name }} &nbsp; Finished in {{ group.ms }} ms</b></span>
                            </div>
                            <el-card :style="{'background-color': theme=='white'? 'white' : 'rgb(39, 39, 34)'}" shadow="hover" style="border-radius: 0; max-height: 250px; border: none; overflow: scroll; border-top: 1px solid rgb(235, 238, 244);" v-for="host2,index3 in group.hosts" :key=index3+200 class="box-card">
                                <div :style="{'background-color': theme=='white'? 'white' : 'rgb(39, 39, 34)'}" style="position: sticky; top: 0; border-bottom: 1px dashed rgb(235, 238, 244); padding: 0 20px;">
                                    <span class="output_title_inner"><b>Host: {{ host2.ip }} &nbsp; Finished in {{ host2.ms }} ms</b></span>
                                </div>
                                <pre :style="{color: theme=='white'? 'black' : 'rgb(232, 232, 226)'}" style="padding: 2px 20px;">{{ host2.result.trim() }}</pre>
                            </el-card>
                        </el-card>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>
    <script>
        var webSocket
        function initWebSocket() {
            webSocket.onopen = webSocketOpen;
            webSocket.onmessage = webSocketMessage;
            webSocket.onclose = webSocketClose;
            webSocket.onerror = webSocketError;
        }
        function webSocketOpen() {//打开
            console.log("WebSocket连接成功")
            let getHosts = {
                reqType: 10001  // 请求hosts
            }
            webSocket.send(JSON.stringify(getHosts))
            let getGroups = {
                reqType: 10002  // 请求groups
            }
            webSocket.send(JSON.stringify(getGroups))
        }
        function webSocketMessage(e) { //数据接收
            let respMsgJson = JSON.parse(e.data);
            console.log(respMsgJson)
            switch (respMsgJson['respType']) {
                case 10001:
                    vm.hostNodes = respMsgJson.data
                    break
                case 10002:
                    vm.groupNodes = respMsgJson.data
                    break
                case 10003:
                    if (respMsgJson.hosts) {
                        vm.hostsOutput = respMsgJson.hosts
                    }
                    if (respMsgJson.groups) {
                        vm.groupsOutput = respMsgJson.groups
                    }
                    console.log(respMsgJson)
                    break
                default:
                    console.log(e)
                    break
            }
        }
        function webSocketClose() {  //关闭
            console.log("WebSocket关闭");
        }
        function webSocketError() {  //失败
            console.log("WebSocket连接失败");
        }

        // Vue.js
        var vm = new Vue({
            el: "#app",
            data: {
                hostNodes: [],
                selectHostNodes: [],
                groupNodes: [],
                selectGroupNodes: [],
                executing: false,
                multipleSelection: [],
                hosts: '',
                hostsOutput: [],
                groupsOutput: [],
                allowedRun: false,
                theme: 'white'
            },
            mounted() {
                loadACE()
                window.parent.vm.loading = false
            },
            created() {
                if ('WebSocket' in window) {
                    webSocket = new WebSocket("ws://localhost:8080/orange");
                    initWebSocket();
                    console.log('Support webSocket')
                } else {
                    console.log('Not support webSocket')
                }
            },
            methods: {
                handleHostSelectionChange(val) {
                    // this.multipleSelection = val;
                    vm.selectHostNodes = val
//                    for (i in val) {
//                        vm.selectHostNodes.push(val[i]['ip'])
//                    }
//                    vm.hosts = vm.selectHostNodes.join(",")
                    console.log(vm.selectHostNodes)
                    checkAllowedRun()
                },
                handleGroupSelectionChange(val) {
                    // this.multipleSelection = val;
                    vm.selectGroupNodes = val
//                    for (i in val) {
//                        vm.selectHostNodes.push(val[i]['ip'])
//                    }
//                    vm.hosts = vm.selectHostNodes.join(",")
                    console.log(vm.selectGroupNodes)
                    checkAllowedRun()
                },
                checkSelectable(row, index) {
                    return row.status == 1
                },
                send: function() {
                    let data = {
                        reqType: 10003,
                        target: {
                            hosts: vm.selectHostNodes,
                            groups: vm.selectGroupNodes
                        },
                        commands: {
                            "code": 1000,
                            "cmds": [editor.getValue()]
                        }
                    }
                    webSocket.send(JSON.stringify(data))
//                    vm.executing = true
//                    vm.info = "Running···"
//                    vm.post_data.cmds[0] = editor.getValue()
//                    $.ajax({
//                        type: 'POST',
//                        url: '/api/execute',
//                        data: {
//                            host: vm.hosts,
//                            command: JSON.stringify(vm.post_data)
//                        },
//                        success: function(res) {
//                            console.log(res)
//                            vm.output = res.data
//                            vm.info = "Cmd Done!"
//                            vm.executing = false
//                        },
//                        dataType: "json"
//                    });
                },
                resetCmds() {
                    editor.setValue("")
                },
                changeTheme(theme) {
                    console.log("Change theme to : " + theme)
                    this.theme = theme
                    editor.setTheme(theme == 'white' ? 'ace/theme/xcode' : 'ace/theme/monokai');
                }
            }
        });

        // ACE.js
        var editor

        function loadACE() {
            var setCompleteData = function(data) {
                var langTools = ace.require("ace/ext/language_tools");
                langTools.addCompleter({
                    getCompletions: function(editor, session, pos, prefix, callback) {
                        if (prefix.length === 0) {
                            return callback(null, []);
                        } else {
                            return callback(null, data);
                        }
                    }
                });
            }
            var myHints = [{
                meta: "show the hostname of the host",
                caption: "hostname",
                value: "hostname",
                score: 1
            }, {
                meta: "show add members of the current path",
                caption: "ls",
                value: "ls",
                score: 1
            }, {
                meta: "show the ifconfig info",
                caption: "ifconfig",
                value: "ifconfig",
                score: 1
            }, {
                meta: "show the server current date",
                caption: "date",
                value: "date",
                score: 1
            }]
            setCompleteData(myHints)
            editor = ace.edit("editor");
            editor.setTheme('ace/theme/xcode');
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true,
                enableLiveAutocompletion: true
            });
            editor.resize();
            editor.setOption("minLines", 10);
            editor.setOption("maxLines", 20);
            editor.getSession().on('change', function(e) {
                checkAllowedRun()
            })
        }

        function checkAllowedRun() {
            vm.allowedRun = editor.getValue().trim() && (vm.selectHostNodes.length > 0 || vm.selectGroupNodes.length > 0)
        }
    </script>
</body>

</html>